.menu
{
    background-color: #10697e;
    border-bottom: 4px solid #6ccaed;
    width:100%;
    height: auto;
    padding: 0 10px;
    margin: 0px;
    /*z-index: 1;*/
    opacity: 0.9;
}

.menu  .navbar-nav > .active > a
{
    background-color : #6ccaed;
    color: white;
    font-weight: bold;
}

.menu  .navbar-nav >  li >  a
{
    font-size: 13px;
    color: white;
    padding: 10px 35px;

}
.menu  .navbar-nav >  li >  a:hover
{
    background-color: #6ccaed;
}

.navbar-header > a
{
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 30px;
}
.navbar-header > a:hover
{
    text-decoration: none;
    color: #6ccaed;
}